body {
    font-family: Arial, sans-serif;
    background-color: #E2E0C8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #E2E0C8;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 1em;
    color: #818C78;
}

label {
    display: block;
    text-align: left;
    margin: 0.5em 0 0.2em;
    color: #818C78;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    background-color: #5cb85c;
    color: 818C78;
    border: none;
    padding: 0.75em;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.alert {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
    color: 818C78;
}

.alert.success {background-color: #5B913B;}
.alert.danger {background-color: #A94A4A;}

.closebtn {
    margin-left: 15px;
    color: 818C78;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #818C78;
}

p {
    margin-top: 1em;
}

a {
    color: #818C78;
}

a:hover {
    text-decoration: none;
}
